.App {
  text-align: center;
}

form {
  border: 1px solid gray;
  padding:20px;
  margin:20px;
  text-align:center;
  min-width: 200px;
}

fieldset {
  padding:20px auto;
  margin:20px auto;
}

.page-title {
  font-weight: 600;
  border-bottom: 1px solid gray;
  padding-bottom:10px;
}

.label-block{
  margin:20px auto;
}